@import "tailwindcss" prefix(st);

*{
  box-sizing: border-box;

}
.container{
  max-width: 1170px;
  margin: auto;
}
body{
  font-family: jost,sans-serif;
  font-weight: 400  
}
.sidebar::-webkit-scrollbar {
  width: 6px;
}

.sidebar::-webkit-scrollbar-track {
  background: #f5f5f5;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #222;
  border-radius: 4px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #000;
}

/* Remove top/bottom arrow buttons */
.sidebar::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

/* For Firefox */
.sidebar {
  scrollbar-width: thin;
  scrollbar-color: #222 #f5f5f5;
}

@media screen and (max-width:768px) {
  .container{
  max-width: 100%;
  margin: auto;
}
}
@media screen and (min-width:768px) and (max-width:1025px) {
  .container{
  max-width: 100%;
  margin: auto;
}
}
@media screen and (min-width:1024px) and (max-width:1380px) {
  .searchbar{
    top: 97px;
  }
}